<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common :: meta_header('貸出登録',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/rental/add.css}" />
    <script type="text/javascript" th:src="@{/js/rental/add.js}"></script>
</head>

<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">貸出登録</div>
                <div class="mb30 flexarea">
                    <span class="text-red">＊は必須項目です</span>
                    <span>
                        <a th:href="@{/rental/index}" class="link">← 一覧へ戻る</a>
                    </span>
                </div>
                <form id="rental_add_form" th:object="${rentalManageDto}" method="post" th:action="@{/rental/add}">
                    <!-- 社員番号 -->
                    <div class="mb30">
                        <label class="input_title" for="employeeId">

                            社員番号<span class="text-red asterisk">＊</span>
                        </label>
                        <select id="employeeId" class="form_input" name="employeeId">
                            <option value="">社員番号を選択</option>
                            <option th:each="account : ${accounts}" th:value="${account.value}"
                                th:text="${account.text}">
                            </option>
                        </select>
                        <div class="error_msg" th:if="${employeeIdError}">

                            社員番号は必須です。
                        </div>
                    </div>
                    <!-- 貸出予定日 -->
                    <div class="mb30">
                        <label class="input_title" for="expectedRentalOn">

                            貸出予定日<span class="text-red asterisk">＊</span>
                        </label>
                        <input type="date" id="expectedRentalOn" class="form_input" name="expectedRentalOn"
                            th:value="${rentalManageDto.expectedRentalOn}" placeholder="貸出予定日を入力">
                        <div class="error_msg" th:if="${expectedRentalOnError}">

                            貸出予定日は必須です。
                        </div>
                    </div>
                    <!-- 返却予定日 -->
                    <div class="mb30">
                        <label class="input_title" for="expectedReturnOn">

                            返却予定日<span class="text-red asterisk">＊</span>
                        </label>
                        <input type="date" id="expectedReturnOn" class="form_input" name="expectedReturnOn"
                            th:value="${rentalManageDto.expectedReturnOn}" placeholder="返却予定日を入力">
                        <div class="error_msg" th:if="${expectedReturnOnError}">
                            返却予定日は必須です。
                        </div>
                        <div class="error_msg" th:if="${dateRelationError}">
                            返却予定日は貸出予定日以降を入力してください。
                        </div>
                    </div>
                    <!-- 在庫管理番号 -->
                    <div class="mb30">
                        <label class="input_title" for="stockMngNumber">

                            在庫管理番号<span class="text-red asterisk">＊</span>
                        </label>
                        <select id="stockMngNumber" class="form_input" name="stockId">
                            <option value="">在庫管理番号を選択</option>
                            <option th:each="stock : ${stockList}" th:value="${stock.value}" th:text="${stock.text}">
                            </option>
                        </select>
                        <div class="error_msg" th:if="${stockIdError}">

                            在庫管理番号は必須です。
                        </div>
                    </div>
                    <!-- 貸出ステータス -->
                    <div class="mb30">
                        <label class="input_title" for="rentalStatus">

                            貸出ステータス<span class="text-red asterisk">＊</span>
                        </label>
                        <select id="rentalStatus" class="form_input" name="status">
                            <option value="">ステータスを選択</option>
                            <option th:each="status : ${rentalStatus}" th:value="${status.value}"
                                th:text="${status.text}">
                            </option>
                        </select>
                        <div class="error_msg" th:if="${statusError}">

                            貸出ステータスは必須です。
                        </div>
                    </div>
                    <div class="btn_block">
                        <button type="submit" id="submit_btn">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
</body>

</html>